<section class="postcategory">
  <div class="container">
    <div class="row">

      <div class="col-3 postcategory__card">
        <div class="postcategory__card__image">
          <img src="../../../../assets/images/hate.png" />
        </div>
        <div class="postcategory__card__para">
          <i class="postcategory__card__para__icon fas fa-arrow-circle-right"></i>
          <span>Report Hate Crime</span>
        </div>
      </div>

      <div class="postcategory__card col-3">
        <div class="postcategory__card__image">
          <img src="../../../../assets/images/map.png" />
        </div>
        <div class="postcategory__card__para">
          <i class="postcategory__card__para__icon fas fa-arrow-circle-right"></i>
          <span>Report Issue</span>
        </div>
      </div>

      <div class="postcategory__card col-3">
        <div class="postcategory__card__image">
          <img src="../../../../assets/images/neighborhood.png" />
        </div>
        <div class="postcategory__card__para">
          <i class="postcategory__card__para__icon fas fa-arrow-circle-right"></i>
          <span>Neighborhood Activity</span>
        </div>
      </div>
    </div>
  </div>
</section>

