<section class="post">
  <h2 class="headers">Alerts&News</h2>

  <!-- first card -->
  <div class="post__postcard">
    <div class="post__postcard__header">
      <div class="row">
        <div class="col-10">
          <img
            class="post__postcard__header__image"
            src="../../../../assets/images/user.png"
          />
          <span>Public Information Office Linda Fontes</span>
        </div>
        <div class="col-2">
          <span>Agency</span>
        </div>
      </div>
    </div>
    <div class="post__postcard__date">
      <p>15 Oct</p>
    </div>
    <div class="post__postcard__image"></div>
    <div class="post__postcard__title">
      <p>Mayor Khan Discuss the new COVID-19</p>
    </div>
    <div class="post__postcard__body">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nam
        maiores dicta quod asperiores, iste vitae facere harum, dolorem
        consectetur eveniet nisi fugiat quae magnam exercitationem doloribus
        minus mollitia eaque.
      </p>
    </div>
    <div class="post__postcard__footer__sec1">
      <div class="row">
        <div class="col-6 post__postcard__footer__sec1__likes">
          <i class="fas fa-thumbs-up"> <span>16</span></i>
          <i class="fas fa-thumbs-down"> <span>5</span></i>
        </div>
        <div class="col-6 post__postcard__footer__sec1__comment">
          <i class="fas fa-comment-alt"> <span>5</span></i>
        </div>
      </div>
    </div>
  </div>

  <!-- second card -->
  <div class="post__postcard">
    <div class="post__postcard__header">
      <div class="row">
        <div class="col-10">
          <img
            class="post__postcard__header__image"
            src="../../../../assets/images/user.png"
          />
          <span>Public Information Office Linda Fontes</span>
        </div>
        <div class="col-2">
          <span></span>
        </div>
      </div>
    </div>
    <div class="post__postcard__date">
      <p>15 Oct</p>
    </div>
    <div class="post__postcard__image"></div>
    <div class="post__postcard__title">
      <p>Mayor Khan Discuss the new COVID-19</p>
    </div>
    <div class="post__postcard__body">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nam
        maiores dicta quod asperiores, iste vitae facere harum, dolorem
        consectetur eveniet nisi fugiat quae magnam exercitationem doloribus
        minus mollitia eaque.
      </p>
    </div>
    <div class="post__postcard__footer__sec1">
      <div class="row">
        <div class="col-6 post__postcard__footer__sec1__likes">
          <i class="fas fa-thumbs-up"> <span>16</span></i>
          <i class="fas fa-thumbs-down"> <span>5</span></i>
        </div>
        <div class="col-6 post__postcard__footer__sec1__comment">
          <i class="fas fa-comment-alt"> <span>5</span></i>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-1">
    <i class="fas fa-ellipsis-v"></i>
  </div> -->
  <!-- third card -->
  <div class="post__postcard">
    <div class="post__postcard__header">
      <div class="row">
        <div class="col-10">
          <img
            class="post__postcard__header__image"
            src="../../../../assets/images/user.png"
          />
          <span>Public Information Office Linda Fontes</span>
        </div>
        <div class="col-2">
          <span>Agency</span>
        </div>
      </div>
      <div class="post__postcard__date">
        <p>15 Oct</p>
      </div>
    </div>

    <div class="post__postcard__info">
      <div class="row">
        <div class="col-8">
          <i class="fas fa-circle"></i>
          <span>Reported Graffiti</span>
        </div>
        <div class="col-4">
          <i class="fas fa-map-marker-alt"></i>
          <span>1.2 Miles away</span>
        </div>
      </div>
    </div>

    <div class="post__postcard__image">
      <img src="../../../../assets/images/post.jpeg" />
    </div>

    <div class="post__postcard__title">
      <p></p>
    </div>

    <div class="post__postcard__body">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nam
        maiores dicta quod asperiores, iste vitae facere harum, dolorem
        consectetur eveniet nisi fugiat quae magnam exercitationem doloribus
        minus mollitia eaque.
      </p>
    </div>

    <div class="post__postcard__footer__sec1">
      <div class="row">
        <div class="col-6 post__postcard__footer__sec1__likes">
          <i class="fas fa-thumbs-up"> <span>16</span></i>
          <i class="fas fa-thumbs-down"> <span>5</span></i>
        </div>
        <div class="col-6 post__postcard__footer__sec1__comment">
          <i class="fas fa-comment-alt"> <span>5</span></i>
          <i class="fas fa-share"><span>Share</span></i>
        </div>    
      </div>
    </div>

    
    <div class="post__postcard__footer">
      <div class="post__postcard__footer__sec2">
        <div class="row">
          <div class="col-12 col-lg-6 post__postcard__footer__sec2__likes">
            <i class="far fa-thumbs-up"> Agree</i>
            <i class="far fa-thumbs-down"> Disagree</i>
          </div>
          <div class="col-lg-6 col-12 post__postcard__footer__sec2__comment">
            <input type="text" placeholder="Write a comment..." />
            <i class="far fa-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
