<section class="about">
  <div class="about__header">
    <h2 class="headers">What We Do</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>About GCS</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui velit enim
        consequuntur blanditiis pariatur.
      </p>
      <button class="button-animation">Exlore GCS</button>
    </div>
    <div class="col-6 about__images">
        <img class="about__images__img1" src="../../../assets/images/herosection.jpg">
        <img class="about__images__img2" src="../../../assets/images/bg.jpeg">
    </div>
  </div>
</section>
